//import partials
@import "../../../Partials/fonts";
@import "../../../Partials/colors";
@import "../../../Partials/mediaqueries";
@import "../../../Partials//animations";

.trifold-title {
    font-family: $font-stack;
    font-size: 4vw;
    margin-top: 20px;

    @include desktop {
        font-size: 50px;
    }
}

.trifold {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &__box {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        @include desktop {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 1200px;
        }
    }

    &__container {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include desktop {
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }
    }

    &__images {
        display: none;
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
        margin-right: 10vw;

        @include tablet {
            display: flex;
        }

        @include desktop {
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            margin-right: 0;
        }
    }

    &__image {
        animation-name: slidin-fade;
        animation-fill-mode: forwards;
        height: 200px;
        width: 300px;
        object-fit: cover;
        margin-bottom: 20px;
        border-radius: 15px;
        visibility: hidden;
        
        animation-timing-function: ease-out;
        animation-duration: 1s;

        &--1 {
            animation-delay: 1s;
        }
        &--2 {
            animation-delay: 1.3s;
        }
        &--3 {
            animation-delay: 1.6s;
        }
        

        @include desktop {
            width: 350px;
            &--1 {
                animation-delay: 0.6s;
            }
            &--2 {
                animation-delay: 0.6s;
            }
            &--3 {
                animation-delay: 0.6s;
            }
        }
    }

    &__card {
        width: 300px;
        height: 200px;
        border: 1px solid $highlight2;
        border-radius: 15px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include desktop {
            width: 350px;
        }
    }

    &__card-title {
        position: relative;
        font-family: $font-stack;
        font-size: 20px;
        font-weight: bold;
        top: -10px;
        background-color: white;
        width: 70%;
    }

    &__card-text {
        margin-top: 10px;
        width: 90%;
        font-family: $font-stack;
    }

    &__button {
        height: 30px;
        width: 120px;
        border-radius: 10px;
        border: 2px solid $highlight2;
        background-color: $black;
        font-family: $font-stack;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        transition: all 0.6s ease;
        margin: auto 0 20px 0;

        &:hover {
            font-size: 15px;
            height: 35px;
            width: 130px;
        }
    }
}