//animations partial

@keyframes slidin-fade {
    from {
        visibility:visible;
        transform: translateY(200px);
        opacity: 0;
        transform: scale(0.2);
    }
    to {
        visibility:visible;
        transform: translateY(0);
        opacity: 1;
        transform: scale(1);
    }
}